.container {
  .list-view {
	padding: 10px;
  }

  img {
	  width: auto;
	  height: 50px;
  }
  button {
	margin: 1px;
  }
}

.block {
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 8px;

	.header {
		height: 55px;
		background-color: #e7e7e7;
		border-bottom: 1px solid #e1e1e8;
		border-radius: 8px 8px 0 0;
		padding-left: 25px;
	}
	.content {
		padding: 15px;
		.panel-body {
			padding: 0;
		}
	}
}